body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}
.maindiv{
  background-color: white;
  color: black; 
  width:300px;
  padding:20px;
  border-radius:25px;
  align:center;
}

element.style {
  background-color: rgb(255, 255, 102);
  color: rgb(0, 0, 0);
}
mark {
  background-color: yellow;
  color: black;
}
  

